/* Reset geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 20px;
}

.home__logo {
    max-width: 15%;
}